<h1 mat-dialog-title>Create New Post</h1>
<div mat-dialog-content>
    <p>Add new post to share with your users</p>
    <form class="content-form" [formGroup]="contentForm">
        <input type="text" class="title" placeholder="Title" formControlName = "title"/>
        <textarea class="content" placeholder="Content, healthtips, etc." formControlName = "content"></textarea>
        <button mat-raised-button color="basic" class="cancel-button" (click) = "cancelAction()">Cancel</button>
        <button mat-raised-button color="primary" class="post-button" (click)="postContent()">Post content</button>
    </form>
    
</div>