<div class="greetings-container">
    <h1 class="greetings">Hello, Matthew!</h1>
    <p>Here, you can share helthtips to users.</p>
</div>
<div class="action-buttons">
    <button mat-raised-button color="primary" class="new-button" (click) = "openNewPostDialog()">+ New Post</button>
</div>
<div class="post-container">
    <mat-card class="post-content">
        <h2>Title</h2>
        <p>Content</p>
    </mat-card>
    <mat-card class="post-content">
        <h2>Title</h2>
        <p>Content</p>
    </mat-card>
</div>